.announce-editor_container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    .announce-editor {
        margin-top: 15px;
        width: 100%;
        padding: 30px;
        .announce-editor_image {
            margin: 15px 0;
            .announce-editor_image_input {
                position: absolute;
                width: 100%;
                height: 36px;
                z-index: -1;
                opacity: 0;
            }
            .announce-editor_image_input-fake {
                font-size: 14px;
                width: 100%;
                text-align: center;
                height: 36px;
                color: white;
                padding: 10px;
                background-color: #3880ff;
                display: inline-block;
                cursor: pointer;
            }
            .announce-editor_image_display {
                overflow: hidden;
                position: relative;
                .image-list {
                    display: inline-block;
                    margin-left: 5px;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    justify-content: left;
                }
                .image-list ion-button.announce-editor_image_delete {
                    display: block;
                    height: 15px;
                }
            }
        }
        .announce-editor_file {
            margin: 15px 0;
            .announce-editor_file_input {
                position: absolute;
                width: 100%;
                height: 36px;
                z-index: -1;
                opacity: 0;
            }
            .announce-editor_file_input-fake {
                font-size: 14px;
                width: 100%;
                height: 36px;
                color: white;
                padding: 10px;
                background-color: #3880ff;
                display: inline-block;
                cursor: pointer;
            }
        }
        .announce-editor_file_display {
            overflow: hidden;
            position: relative;
            width: 100%;
            .file-list {
                display: block;
                position: relative;
            }
            ion-item {
                a {
                    width: 100%;
                    span {
                        align-self: flex-end;
                    }
                }
            }
        }
        .announce-editor_submit {
            width: 100%;
            ion-button {
                width: 45%;
                position: relative;
                display: inline-block;
                --border-radius: 5px;
                --background: #13e013;
                --background-focused: #14cd14;
                --background-hover: #14cd14;
            }
        }
        .announce-editor_error {
            padding: 10px 0 0 10px;
            text-align: center;
            span {
                color: #FF0000;
            }
        }
    }
}